{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}

{% block modalClass %}
  {{ super() }} apos-flickr-editor
{% endblock%}


{% block modalLabel %}
  {{ __('Select Flickr Set')}}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __('Paste a URL for your Flickr Set.<br/>
  <em>Ex: "https://www.flickr.com/photos/[USER_NAME]/sets/[SET_ID]/"</em>')}}</p>
{% endblock %}

{% block formBody %}

  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-flickr-set" data-name="flickrSet">
    <label>Set URL</label>
    <input name="set" type="text" class="apos-flickr-set">
  </fieldset>

  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-apos-flickr-limit" data-name="flickrLimit">
    <label>Number of Photos (leave blank for the fullset):</label>
    <input name="limit" type="text" class="apos-input-narrow">
  </fieldset>

{% endblock %}
